/* vt323-regular - latin */
@font-face {
    font-family: 'VT323';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/vt323-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/vt323-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/vt323-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/vt323-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/vt323-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/vt323-v17-latin-regular.svg#VT323') format('svg'); /* Legacy iOS */
}

body {
    display: flex;
    justify-content: center;
    background-color: lightgreen;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #63bda4;
    border-radius: 22px;
    margin: 50px;
    padding: 40px;
    height: 600px;
    width: 450px;
}

.display {
    background-color: #d9ffea;
    height: 250px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 12px;
    border-radius: 20px;
    font-size: 66px;
    font-family: 'VT323', Fallback, sans-serif;
    text-align: right;
    overflow-wrap: break-word;
}

.digits {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.digits > .left {
    padding: 5px;
    border-radius: 5px;
    background-color: black;
}

.digit {
    background-color: black;
    transition: box-shadow 0.1s ease, transform 0.1s ease;
    color: white;
    height: 32px;
    border: none;
    width: 32px
}

.digit:active {
    box-shadow: 1px 1px 0, inset 1px 1px 1px;
    transform: translate(1px, 1px);
}

.control[data-key='dot'] {
    background: blue;
    color: white;
    font-size: 30px;
    border-radius: 20px;;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    outline: 4px;
    box-shadow: 0 3px 1px 0 #3275a8;
    border: none;
    transition: box-shadow 0.1s ease, transform 0.1s ease;
}

.control[data-key='dot']:active {
    box-shadow: 0 0 0, inset 2px 2px 2px #3275a8;
    transform: translate(0px, 3px);
}

.lower {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.operators {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.operator {
    font-size: 50px;
    font-weight: bolder;
    width: 100px;
    height: 100px;
    background-color: transparent;
    margin: 0;
    padding: 0;
    text-align: center;
    text-shadow: 3px 3px green;
}

.operator[data-key='add'] {
    color: #ffec47;
}

.operator[data-key='subtract'] {
    color: blue;
}

.operator[data-key='multiply'] {
    color: blue;
}

.operator[data-key='divide'] {
    color: #ffec47;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.top {
    display: flex;
    gap: 24px;
}

.bottom {
    display: flex;
    justify-content: center;
}

.control[data-key='equals'] {
    background-color: #f20553;
    color: white;
    width: 100px;
    height: 100px;
    font-size: 60px;
    border-radius: 50px;
    box-shadow: 0 2px 1px 3px #f53373;
    border: none;
    transition: box-shadow 0.1s ease, transform 0.1s ease;
}

.control[data-key='equals']:active {
    box-shadow: 0 0 0, inset 2px 2px 2px #f53373;
    transform: translate(0px, 2px);
}

.control[data-key='back'] {
    background-color: green;
    box-shadow: 2px 2px 0 green;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0 3px 1px 0 lightgreen;
    border: none;
    transition: box-shadow 0.1s ease, transform 0.1s ease;
}

.control[data-key='back']:active {
    box-shadow: 0 0 0, inset 0 2px 1px lightgreen;
    transform: translate(0px, 3px);
}

.control[data-key='clear'] {
    background-color: blue;
    box-shadow: 2px 2px 0 blue;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0 3px 1px 0 lightblue;
    border: none;
    transition: box-shadow 0.1s ease, transform 0.1s ease;
}

.control[data-key='clear']:active {
    box-shadow: 0 0 0, inset 0 2px 1px lightblue;
    transform: translate(0px, 3px);
}